.container {
  margin-top: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

p {
  margin: 0 0 11px;
}

.fixed-nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;


}

.icon {
  color: #65696e;
}

.navbar {
  background-color: #f9f9f9;
  height: 55px !important;
  color: #333;



}

.navbar-inner {
  padding: 0 7% !important;

}

.contact-info a {
  text-decoration: none;
  color: #65696e;
  font-size: 12px;
}

.contact-info a:hover {
  color: #ed1c24;
}

.contact-info {
  display: flex;
  gap: 34px;
  height: 35px;
  line-height: 35px;
  padding: 11px 0;

}

.contact-info i {
  padding-right: 3px;
  font-size: 12px;
}

.fa-phone {
  font-size: 10px !important;
}

.sign {
  gap: 16px;
  justify-content: right;

}

.language-dropdown .languages {
  cursor: pointer;
  color: #ed1c24;
  font-size: 13px;

}

.lang-d {
  color: black;
}

.sign-in-btn,
.sign-up-btn {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 117px;
  height: 33px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #ed1c24;
  transition: all 0.3s ease;
}

.sign-in-btn {
  background-color: #fff;
  color: #ed1c24;
}

.sign-up-btn {
  background-color: #ed1c24;
  color: #fff;
}


.cart-icon-wrapper {
  position: relative;
}

.cart-icon {
  color: #000;
  font-size: 20px;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: #e12032;
  color: #ffffff;
  border-radius: 50%;
  font-size: 11px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-menu {
  display: none;
}

@media (max-width: 1250px) {
  .navbar-inner {
    padding: 0 2% !important;
  }
}

@media (min-width: 901px) and (max-width: 1600px) {
  .contact-info {
    width: 65%;
  }
}

@media (max-width: 1100px) {
  .contact-info {
    width: 74%;
  }

  .sign-up-btn {
    display: none;
  }
}

@media (max-width: 1060px) {
  .contact-info {
    width: 70% !important;
  }

  .item-div {
    width: 30% !important;
  }
}

@media (max-width: 950px) {
  .contact-info a {
    font-size: 11px;
  }
}

@media (max-width: 730px) {
  .contact-info {
    display: none;
  }

  .item-div {
    width: 100% !important;

  }

  .burger-menu {
    display: block;
    top: 11px;
    font-size: 22px;
    color: #333;
    cursor: pointer;
    z-index: 1000;
  }
  .fa-bars{
    font-size: 20px;
  }
  .sign {
    justify-content: flex-end !important;
    gap: 20px;
    position: relative;
    width: 100%;
  }
}


